<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raxdenstudios.app.login">

    <application android:theme="@style/Theme.App">

        <activity
            android:name=".view.LoginActivity"
            android:theme="@style/Theme.App.Login"
            android:windowSoftInputMode="adjustPan" />
    </application>
</manifest>
