<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raxdenstudios.app.list">

    <application>

        <activity
            android:name=".view.MovieListActivity"
            android:theme="@style/Theme.App.MovieList"
            android:windowSoftInputMode="adjustPan" />
    </application>
</manifest>